<div class="container item bg-white">
  <h2>Habitacion</h2>
  <div class="row" *ngFor="let elemento of hotel.habitaciones">

    <div class="col">
      <div class="form-check">
        <input class="form-check-input" (change)="$event.target.checked? si(elemento.precio) : no(elemento) "
          type="radio" name="gridRadios" id="gridRadios1" value="option1" >
        <label class="form-check-label" for="gridRadios1">
          {{elemento.nombre}}
        </label>
      </div>
    </div>
    <div class="col">
      {{elemento.precio|currency:'USD':'symbol':'1.0-0'}}
    </div>
  </div>
</div>